* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box; 
}

.circle_1.hovered {
  background-color: #ffadad;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.circle_2.hovered {
  background-color: #ffd6a5;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.circle_3.hovered {
  background-color: #fdffb6;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.circle_4.hovered {
  background-color: #caffbf;
  transition: background-color 0.3s ease;
  z-index: 4;
}

.circle_5.hovered {
  background-color: #9bf6ff;
  transition: background-color 0.3s ease;
}

/* 모바일 */
@media (min-width: 0px) and (max-width: 767px) {
  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 20px;
    position: absolute;
    top: -10px; /* 원의 위쪽으로 이동 */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    white-space: nowrap;
  }
  
  .circle_1 {
    height: 700px;
    width: 700px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,173,173,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
  }
  
  .circle_2 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,215,165,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
  }
  
  .circle_3 {
    height: 500px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 500px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(253,255,182,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
    box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
  }
  
  .circle_4 {
    height: 400px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 400px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(202,255,191,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
    box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
  }
  
  .circle_5 {
    height: 60px;  /* 크기 조정 */
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(155,247,255,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
    box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
  }
  
  footer {
    margin-top: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
    padding: 20px 0; /* 여백 추가 */
  }
  
  footer p.footer-text {
    padding: 0 10px;
    margin-bottom: 0;
    clear: both;
    color: white;
    font-size: 10px;
  }
}

/* 태블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {
  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 30px;
    position: absolute;
    top: -20px; /* 원의 위쪽으로 이동 */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    white-space: nowrap;
  }
  
  .circle_1 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,173,173,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
  }
  
  .circle_2 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,215,165,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
  }
  
  .circle_3 {
    height: 400px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 400px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(253,255,182,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
    box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
  }
  
  .circle_4 {
    height: 300px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 300px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(202,255,191,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
    box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
  }
  
  .circle_5 {
    height: 60px;  /* 크기 조정 */
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(155,247,255,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
    box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
  }
  
  footer {
    margin-top: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
    padding: 20px 0; /* 여백 추가 */
  }
  
  footer p.footer-text {
    padding: 0 10px;
    margin-bottom: 0;
    clear: both;
    color: white;
    font-size: 20px;
  }
}

/* 태블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    position: absolute;
    top: -10px; /* 원의 위쪽으로 이동 */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    white-space: nowrap;
  }
  
  .circle_1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,173,173,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
  }
  
  .circle_2 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,215,165,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
  }
  
  .circle_3 {
    height: 200px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 200px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(253,255,182,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
    box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
  }
  
  .circle_4 {
    height: 100px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 100px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(202,255,191,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
    box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
  }
  
  .circle_5 {
    height: 30px;  /* 크기 조정 */
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(155,247,255,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
    box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
  }
  
  footer {
    margin-top: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
    padding: 20px 0; /* 여백 추가 */
  }
  
  footer p.footer-text {
    padding: 0 10px;
    margin-bottom: 0;
    clear: both;
    color: white;
    font-size: 13px;
  }
}

/* 데스크탑 일반 */
@media (min-width: 1200px) {
  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    position: absolute;
    top: -10px; /* 원의 위쪽으로 이동 */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(255, 255, 255);
    white-space: nowrap;
  }
  
  .circle_1 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,173,173,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
  }
  
  .circle_2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 배치 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(255,215,165,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
    box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
  }
  
  .circle_3 {
    height: 300px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 300px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(253,255,182,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
    box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
  }
  
  .circle_4 {
    height: 200px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 200px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    border-radius: 50%;
    position: absolute;  /* 부모 기준으로 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* 정확히 가운데 배치 */
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(202,255,191,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
    box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
  }
  
  .circle_5 {
    height: 40px;  /* 크기 조정 */
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center; 
  
    -webkit-box-shadow:0px 0px 57px 3px rgba(155,247,255,0.88);
    -moz-box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
    box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
  }
  
  footer {
    margin-top: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
    padding: 20px 0; /* 여백 추가 */
  }
  
  footer p.footer-text {
    padding: 0 10px;
    margin-bottom: 0;
    clear: both;
    color: white;
    font-size: 13px;
  }
}