* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  height: 100dvh;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  flex-direction: column; /* 부모가 세로 방향으로 자식 요소를 배치 */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;  
  box-sizing: border-box; 
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
  padding: 30px 0; /* 여백 추가 */
  z-index: 3;
  display: flex;
  justify-content: center;
}

.contact_circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  color: #8284ff;

  -webkit-box-shadow:0px 0px 30px 5px rgba(189,190,255,0.88);
  -moz-box-shadow: 0px 0px 30px 5px rgba(189,190,255,0.88);
  box-shadow: 0px 0px 30px 5px rgba(189,190,255,0.88);
}

.contact_circle:hover {
  background-color: rgba(189,190,255,0.6);
  transition: background-color 0.3s ease;
  z-index: 8;

  color: white;
}

.circle_0 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;  /* 부모 원을 기준으로 위치 설정 */
  background-color: black;
}

.circle_1 {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;  /* 부모 원을 기준으로 위치 설정 */

  -webkit-box-shadow:0px 0px 57px 3px rgba(255,173,173,0.88);
  -moz-box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
  box-shadow: 0px 0px 57px 3px rgba(255,173,173,0.88);
}

.circle_2 {
  border-radius: 50%;
  position: absolute;  /* 부모 기준으로 배치 */
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 

  -webkit-box-shadow:0px 0px 57px 3px rgba(255,215,165,0.88);
  -moz-box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
  box-shadow: 0px 0px 57px 3px rgba(255,215,165,0.88);
}

.circle_3 {
  border-radius: 50%;
  position: absolute;  /* 부모 기준으로 위치 설정 */
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 

  -webkit-box-shadow:0px 0px 57px 3px rgba(253,255,182,0.88);
  -moz-box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
  box-shadow: 0px 0px 57px 3px rgba(253,255,182,0.88);
}

.circle_4 {
  border-radius: 50%;
  position: absolute;  /* 부모 기준으로 위치 설정 */
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 

  -webkit-box-shadow:0px 0px 57px 3px rgba(202,255,191,0.88);
  -moz-box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
  box-shadow: 0px 0px 57px 3px rgba(202,255,191,0.88);
}

.circle_5 {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: black;

  -webkit-box-shadow:0px 0px 57px 3px rgba(155,247,255,0.88);
  -moz-box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
  box-shadow: 0px 0px 57px 3px rgba(155,247,255,0.88);
}

.circle_1.hovered {
  background-color: rgba(255,173,173,0.3);
  transition: background-color 0.3s ease;
  z-index: 5;
}

.circle_1_text.color_change {
  color: white;
}

.circle_2.hovered {
  background-color: rgba(255,214,165,0.3);
  transition: background-color 0.3s ease;
  z-index: 6;
}

.circle_2.hovered span {
  color: white;
}

.circle_3.hovered {
  background-color: rgba(253,255,182,0.3);
  transition: background-color 0.3s ease;
  z-index: 7;
}

.circle_3.hovered span {
  color: white;
}

.circle_4.hovered {
  background-color: rgba(202,255,191,0.3);
  transition: background-color 0.3s ease;
  z-index: 8;
}

.circle_4.hovered span {
  color: white;
}

.circle_5.hovered {
  background-color: rgba(155,246,255,0.3);
  transition: background-color 0.3s ease;
  color: white;
}

.circle_5.hovered span {
  color: white;
}

.circle_1 span,
.circle_2 span,
.circle_3 span,
.circle_4 span,
.circle_5 span {
  position: absolute;
  color: rgb(255, 255, 255);
  white-space: nowrap;
}

.circle_1 span {
  color: #ffadad;
}

.circle_2 span {
  color: #ffd6A5;
}

.circle_3 span {
  color: #fDffb6;
}

.circle_4 span {
  color: #caffbf;
}

.circle_5 span {
  color: #9bf6ff;
}


footer {
  margin-top: auto; /* 위의 요소들이 밀려나며 footer가 아래에 배치됨 */
  padding: 20px 0; /* 여백 추가 */
  z-index: 3;
}
  
footer p.footer-text {
  font-size: 15px;
  padding: 0 10px;
  margin-bottom: 0;
  clear: both;
  color: white;
}

/* 모바일 */
@media (min-width: 0px) and (max-width: 767px) {
  .contact_circle {
    font-size: 30px;
    height: 70px;
    width: 70px;
  }

  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 25px;
    top: -15px; /* 원의 위쪽으로 이동 */
  }

  .circle_0, .circle_1 {
    height: 500px;
    width: 500px;
  }
  
  .circle_2 {
    height: 400px;
    width: 400px;
  }
  
  .circle_3 {
    height: 300px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 300px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_4 {
    height: 200px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 200px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_5 {
    height: 50px;  /* 크기 조정 */
    width: 50px;
  }
  
  footer p.footer-text {
    font-size: 15px;
  }
}

/* 태블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {
  .contact_circle {
    font-size: 30px;
    height: 150px;
    width: 150px;
  }

  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 30px;
    top: -20px; /* 원의 위쪽으로 이동 */
  }
  
  .circle_0,
  .circle_1 {
    height: 600px;
    width: 600px;
  }
  
  .circle_2 {
    height: 500px;
    width: 500px;
  }
  
  .circle_3 {
    height: 400px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 400px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_4 {
    height: 300px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 300px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_5 {
    height: 60px;  /* 크기 조정 */
    width: 60px;
  }
  
  footer p.footer-text {
    font-size: 15px;
  }
}

/* 태블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
  .contact_circle {
    height: 40px;
    width: 40px;
  }

  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 20px;
    top: -15px; /* 원의 위쪽으로 이동 */
  }
  
  .circle_0,
  .circle_1 {
    height: 400px;
    width: 400px;
  }
  
  .circle_2 {
    height: 300px;
    width: 300px;
  }
  
  .circle_3 {
    height: 200px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 200px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_4 {
    height: 100px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 100px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_5 {
    height: 30px;  /* 크기 조정 */
    width: 30px;
  }
  
  footer p.footer-text {
    font-size: 13px;
  }
}

/* 데스크탑 일반 */
@media (min-width: 1200px) {
  .contact_circle {
    height: 40px;
    width: 40px;
  }

  .circle_1 span,
  .circle_2 span,
  .circle_3 span,
  .circle_4 span,
  .circle_5 span {
    font-size: 20px;
    top: -15px; /* 원의 위쪽으로 이동 */
  }

  .contact_circle {
    height: 50px;
    width: 50px;
  }

  .circle_0,
  .circle_1 {
    height: 500px;
    width: 500px;
  }
  
  .circle_2 {
    height: 400px;
    width: 400px;
  }
  
  .circle_3 {
    height: 300px;  /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 300px;   /* circle_3 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_4 {
    height: 200px;  /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
    width: 200px;   /* circle_4 크기를 줄여서 circle_2를 벗어나지 않게 함 */
  }
  
  .circle_5 {
    height: 40px;  /* 크기 조정 */
    width: 40px;
  }
  
  footer p.footer-text {
    font-size: 13px;
  }
}

/* background starry */
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(twinkling.png) repeat top center;
  z-index:0;
  animation:move-twink-back 200s linear infinite;
}